<a href="https://colab.research.google.com/github/KayalvizhiT513/TNEA-seat-matrix-analysis/blob/main/TNEA_seat_matrix_running_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install pdfplumber pandas openpyxl

Collecting pdfplumber
  Downloading pdfplumber-0.11.7-py3-none-any.whl.metadata (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.8/42.8 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Collecting pdfminer.six==20250506 (from pdfplumber)
  Downloading pdfminer_six-20250506-py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: Pillow>=9.1 in /usr/local/lib/python3.11/dist-packages (from pdfplumber) (11.2.1)
Collecting pypdfium2>=4.18.0 (from pdfplumber)
  Downloading pypdfium2-4.30.1-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (48 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.2/48.2 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from pdfminer.six==20250506->pdfplumber) (3.4.2)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.11/dist-packages (from pdfminer.six==20250506->pdfplumber) (43.0.3)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.11/dist-packages (from cryptography>=36.0.0->pdfminer.six==20250506->pdfplumber) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.11/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20250506->pdfplumber) (2.22)
Downloading pdfplumber-0.11.7-py3-none-any.whl (60 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.0/60.0 kB 4.6 MB/s eta 0:00:00
Downloading pdfminer_six-20250506-py3-none-any.whl (5.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 49.3 MB/s eta 0:00:00
Downloading pypdfium2-4.30.1-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 66.1 MB/s eta 0:00:00
Installing collected packages: pypdfium2, pdfminer.six, pdfplumber
Successfully installed pdfminer.six-20250506 pdfplumber-0.11.7 pypdfium2-4.30.1

In [3]:
import os
import pdfplumber
import pandas as pd

# Folder containing the PDFs
pdf_folder = '/content/drive/MyDrive/TNEA Seat Matrix 2025'

# Output folder for Excel files
output_folder = pdf_folder

In [17]:
# List to hold one DataFrame per PDF
pdf_dataframes = []

# Process each PDF
for filename in os.listdir(pdf_folder):
    if filename.endswith('.pdf'):
        pdf_path = os.path.join(pdf_folder, filename)

        combined_df = pd.DataFrame()

        # Extract tables and merge into one DataFrame
        with pdfplumber.open(pdf_path) as pdf:
            for page in pdf.pages:
                tables = page.extract_tables()
                for table in tables:
                    df = pd.DataFrame(table[1:], columns=table[0])  # Skip header row
                    combined_df = pd.concat([combined_df, df], ignore_index=True)

        # Append the combined DataFrame to the list
        pdf_dataframes.append(combined_df)
        print(f'Loaded: {filename} → {combined_df.shape[0]} rows')

Loaded: general_academic_seat_matrix_2024-no-1.pdf → 3469 rows
Loaded: GENERAL_ACADEMIC_SEAT_MATRIX_2025.pdf → 3450 rows
Loaded: GENERAL_ACADEMIC_SEAT_MATRIX_ AFTER SPECIAL RESERVATION COUNSELLING_2025.pdf → 3487 rows

In [25]:
# compare pdf_dataframes[1] and pdf_dataframes[2] with columns 'COLLEGE CODE' + 'BRANCH CODE' and find the mismatched rows
import pandas as pd
from IPython.display import display

# Create unique keys for both DataFrames
df1 = pdf_dataframes[1].copy()
df2 = pdf_dataframes[2].copy()

df1['KEY'] = df1['COLLEGE CODE'].astype(str) + '_' + df1['BRANCH CODE'].astype(str)
df2['KEY'] = df2['COLLEGE CODE'].astype(str) + '_' + df2['BRANCH CODE'].astype(str)

# Find mismatched keys
keys1 = set(df1['KEY'])
keys2 = set(df2['KEY'])

only_in_df1_keys = keys1 - keys2
only_in_df2_keys = keys2 - keys1

# Extract mismatched rows
mismatched_df1 = df1[df1['KEY'].isin(only_in_df1_keys)]
mismatched_df2 = df2[df2['KEY'].isin(only_in_df2_keys)]

# Display mismatches
mismatched_df1.reset_index(drop=True, inplace=True)
mismatched_df2.reset_index(drop=True, inplace=True)

# Optionally, drop the KEY column after comparison
mismatched_df1.drop(columns='KEY', inplace=True)
mismatched_df2.drop(columns='KEY', inplace=True)

# Output mismatched rows

In [26]:
display(mismatched_df1)

,COLLEGE CODE,COLLEGE NAME,BRANCH CODE,BRANCH NAME,OC,BC,BCM,MBC,SC,SCA,ST,TOTAL
0,1507,"Ganadipathy Tulsi's Jain Engineering College, ...",-\nAD,Artificial Intelligence and Data\nScience,11,10,1,7,6,1,0,36
1,1507,"Ganadipathy Tulsi's Jain Engineering College, ...",-\nCB,COMPUTER SCIENCE AND\nBUSSINESS SYSTEM,8,5,1,4,3,1,0,22
2,1507,"Ganadipathy Tulsi's Jain Engineering College, ...",-\nCS,COMPUTER SCIENCE AND\nENGINEERING,12,9,1,6,6,0,1,35
3,1507,"Ganadipathy Tulsi's Jain Engineering College, ...",-\nEC,ELECTRONICS AND\nCOMMUNICATION\nENGINEERING,7,8,1,5,3,1,0,25
4,1507,"Ganadipathy Tulsi's Jain Engineering College, ...",-\nEE,ELECTRICAL AND\nELECTRONICS ENGINEERING,8,6,1,6,5,1,0,27
5,1507,"Ganadipathy Tulsi's Jain Engineering College, ...",-\nIT,INFORMATION TECHNOLOGY,16,14,2,10,8,1,1,52
6,1507,"Ganadipathy Tulsi's Jain Engineering College, ...",-\nME,MECHANICAL ENGINEERING,8,7,1,6,4,1,1,28
7,1507,"Ganadipathy Tulsi's Jain Engineering College, ...",-\nSC,Computer Science and\nEngineering (Cyber Secur...,7,6,1,5,2,1,0,22
8,4934,"Holy Cross Engineering College, 7/131, Vagaiku...",AD\n-,Artificial Intelligence and Data\nScience,7,6,0,5,3,1,0,22
9,4934,"Holy Cross Engineering College, 7/131, Vagaiku...",BM\n-,BIO MEDICAL ENGINEERING,15,13,2,9,8,0,1,48
10,4934,"Holy Cross Engineering College, 7/131, Vagaiku...",CS\n-,COMPUTER SCIENCE AND\nENGINEERING,14,12,2,8,7,1,1,45
11,4934,"Holy Cross Engineering College, 7/131, Vagaiku...",EC\n-,ELECTRONICS AND\nCOMMUNICATION\nENGINEERING,15,13,2,9,7,2,1,49
12,4934,"Holy Cross Engineering College, 7/131, Vagaiku...",EE\n-,ELECTRICAL AND\nELECTRONICS ENGINEERING,7,7,1,6,3,1,0,25
13,4934,"Holy Cross Engineering College, 7/131, Vagaiku...",IT\n-,INFORMATION TECHNOLOGY,7,6,1,5,3,1,0,23
14,4934,"Holy Cross Engineering College, 7/131, Vagaiku...",ME\n-,MECHANICAL ENGINEERING,9,6,1,5,4,1,0,26
15,2624,"Gnanamani College of Technology (Autonomous), ...",-\nAD,Artificial Intelligence and Data\nScience,39,33,5,24,19,4,2,126
16,2624,"Gnanamani College of Technology (Autonomous), ...",-\nAG,AGRICULTURE ENGINEERING,14,12,2,10,7,1,0,46
17,2624,"Gnanamani College of Technology (Autonomous), ...",-\nBM,BIO MEDICAL ENGINEERING,22,20,1,15,11,3,1,73
18,2624,"Gnanamani College of Technology (Autonomous), ...",-\nBT,BIO TECHNOLOGY,14,12,2,9,8,1,0,46
19,2624,"Gnanamani College of Technology (Autonomous), ...",-\nCS,COMPUTER SCIENCE AND\nENGINEERING,40,34,4,25,20,4,0,127
20,2624,"Gnanamani College of Technology (Autonomous), ...",-\nEC,ELECTRONICS AND\nCOMMUNICATION\nENGINEERING,42,36,4,27,20,4,2,135
21,2624,"Gnanamani College of Technology (Autonomous), ...",-\nEE,ELECTRICAL AND\nELECTRONICS ENGINEERING,14,12,2,10,6,2,0,46
22,2624,"Gnanamani College of Technology (Autonomous), ...",-\nFD,FOOD TECHNOLOGY,14,12,2,9,6,1,1,45
23,2624,"Gnanamani College of Technology (Autonomous), ...",-\nIT,INFORMATION TECHNOLOGY,26,21,2,16,12,3,1,81
24,2624,"Gnanamani College of Technology (Autonomous), ...",-\nME,MECHANICAL ENGINEERING,14,13,2,9,7,1,0,46
25,2624,"Gnanamani College of Technology (Autonomous), ...",-\nPH,PHARMACEUTICAL\nTECHNOLOGY,14,12,2,9,6,1,1,45

In [27]:
display(mismatched_df2)

,COLLEGE CODE,COLLEGE NAME,BRANCH CODE,BRANCH NAME,OC,BC,BCM,MBC,SC,SCA,ST,TOTAL
0,1203,"MADRAS ENGINEERING COLLEGE, TAMBARAM ROAD,\nVE...",AD,Artificial Intelligence and Data\nScience,18,13,2,11,9,0,1,54
1,1203,"MADRAS ENGINEERING COLLEGE, TAMBARAM ROAD,\nVE...",AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND MACH...,17,15,2,10,8,2,1,55
2,1203,"MADRAS ENGINEERING COLLEGE, TAMBARAM ROAD,\nVE...",CB,COMPUTER SCIENCE AND\nBUSSINESS SYSTEM,17,15,1,11,9,2,0,55
3,1203,"MADRAS ENGINEERING COLLEGE, TAMBARAM ROAD,\nVE...",CS,COMPUTER SCIENCE AND\nENGINEERING,16,15,2,11,7,2,1,54
4,1203,"MADRAS ENGINEERING COLLEGE, TAMBARAM ROAD,\nVE...",IT,INFORMATION TECHNOLOGY,16,15,2,11,8,1,1,54
...,...,...,...,...,...,...,...,...,...,...,...,...
58,5545,"G.T.N COLLEGE OF TECHNOLOGY, OLD KARUR ROAD,\n...",AD,Artificial Intelligence and Data\nScience,11,9,1,7,5,1,1,35
59,5545,"G.T.N COLLEGE OF TECHNOLOGY, OLD KARUR ROAD,\n...",AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND MACH...,11,9,1,8,5,1,0,35
60,5545,"G.T.N COLLEGE OF TECHNOLOGY, OLD KARUR ROAD,\n...",CS,COMPUTER SCIENCE AND\nENGINEERING,22,19,3,14,11,2,1,72
61,5545,"G.T.N COLLEGE OF TECHNOLOGY, OLD KARUR ROAD,\n...",EC,ELECTRONICS AND\nCOMMUNICATION ENGINEERING,11,9,2,6,5,1,1,35
62,5545,"G.T.N COLLEGE OF TECHNOLOGY, OLD KARUR ROAD,\n...",IT,INFORMATION TECHNOLOGY,11,9,1,7,6,1,0,35

In [19]:
# Replace \n in column names with a space
pdf_dataframes[1].columns = pdf_dataframes[1].columns.str.replace('\n', ' ')

In [22]:
pdf_dataframes[2].columns = pdf_dataframes[0].columns.str.replace('\n', ' ')

In [8]:
display(pdf_dataframes[0][pdf_dataframes[0]['COLLEGE CODE'] == '2722']['COLLEGE NAME'].head(1))

1913    Sri Krishna College of Technology (Autonomous)...
Name: COLLEGE NAME, dtype: object

In [9]:
pdf_dataframes[1][pdf_dataframes[1]['COLLEGE CODE'] == '2722']

Empty DataFrame
Columns: [COLLEGE CODE, COLLEGE NAME, BRANCH CODE, BRANCH NAME, OC, BC, BCM, MBC, SC, SCA, ST, TOTAL]
Index: []

In [ ]:
# Filter pdf_dataframes[1] by BRANCH CODE = CS
seat_matrix_2025_CS = pdf_dataframes[1][pdf_dataframes[1]['BRANCH CODE'] == 'AM']
seat_matrix_2025_CS

,COLLEGE CODE,COLLEGE NAME,BRANCH CODE,BRANCH NAME,OC,BC,BCM,MBC,SC,SCA,ST,TOTAL
48,2005,Government College of Technology (Autonomous)\...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,17,14,2,11,8,2,0,54
69,2615,Government College of Engineering (Autonomous)...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,16,15,2,11,9,1,0,54
207,3011,University College of Engineering Tiruchirappa...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,17,14,3,11,8,1,1,55
230,3019,University College of Engineering Panruti Chen...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,8,7,1,5,5,1,0,27
266,5010,Anna University Regional Campus - Madurai\nKan...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,8,7,1,6,4,1,0,27
...,...,...,...,...,...,...,...,...,...,...,...,...
3373,4992,"Bethlahem Institute of Engineering, Nadutheri,...",AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,16,13,2,10,7,1,1,50
3383,4993,"Loyola Institute of Technology and Science, P....",AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,14,12,2,10,6,2,0,46
3404,5703,Christian College of Engineering and Technolog...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,8,7,1,6,3,0,0,25
3422,5907,Mohamed Sathak Engineering College (Autonomous...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,4,3,1,3,2,0,1,14
3433,5919,St. Michael College of Engineering and Technol...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,16,13,2,9,8,0,1,49

In [ ]:
seat_matrix_2025_CS[seat_matrix_2025_CS['COLLEGE CODE'] == '2722']

Empty DataFrame
Columns: [COLLEGE CODE, COLLEGE NAME, BRANCH CODE, BRANCH NAME, OC, BC, BCM, MBC, SC, SCA, ST, TOTAL]
Index: []

In [ ]:
avg_cutoff_df = pd.read_excel('/content/drive/MyDrive/TNEA Seat Matrix 2025/average_cutoffDetails_2021-2024.xlsx')
avg_cutoff_df

,College Code,CollegeName,Course Code,Course Name,Cutoffs.MBC.2021,Cutoffs.MBC.2022,Cutoffs.MBC.2023,Cutoffs.MBC.2024,MBC Average,Cutoffs.BC.2021,...,Cutoffs.ST.2023,Cutoffs.ST.2024,ST Average,Cutoffs.BCM.2021,Cutoffs.BCM.2022,Cutoffs.BCM.2023,Cutoffs.BCM.2024,BCM Average,Cutoffs.MBCDNC.2021,Cutoffs.MBCV.2021
0,1,"University Departments of Anna University, Che...",BY,BIO MEDICAL ENGINEERING (SS),194.775,192.000000,188.845,193.0,192.16,194.000000,...,NaN,NaN,187.36,193.500,194.500,193.5,193.0,193.63,190.000,192.50
1,1,"University Departments of Anna University, Che...",CE,CIVIL ENGINEERING,193.330,189.000000,187.000,193.5,190.71,192.685000,...,177.5,NaN,176.07,190.500,186.755,192.0,190.0,189.81,190.275,191.24
2,1,"University Departments of Anna University, Che...",CM,COMPUTER SCIENCE AND ENGINEERING (SS),197.500,198.500000,199.000,199.0,198.50,197.666667,...,192.0,NaN,190.61,196.375,198.000,198.5,198.0,197.72,196.760,196.00
3,1,"University Departments of Anna University, Che...",CS,COMPUTER SCIENCE AND ENGINEERING,198.625,199.333333,199.500,199.5,199.24,198.120000,...,NaN,191.5,191.83,197.020,199.000,199.5,198.5,198.51,198.000,198.00
4,1,"University Departments of Anna University, Che...",EC,ELECTRONICS AND COMMUNICATION ENGINEERING,197.130,198.000000,198.500,198.5,198.03,197.333333,...,180.5,NaN,186.50,196.000,198.000,198.0,199.0,197.75,195.540,195.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3732,5930,"SBM College of Engineering and Technology, Tha...",BM,BIO MEDICAL ENGINEERING,NaN,NaN,NaN,NaN,0.00,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.00,NaN,NaN
3733,5930,"SBM College of Engineering and Technology, Tha...",IT,INFORMATION TECHNOLOGY,NaN,NaN,NaN,NaN,0.00,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.00,NaN,NaN
3734,5986,Velammal College of Engineering and Technology...,EV,Electronics Engineering (VLSI Design and Techn...,NaN,NaN,NaN,152.5,152.50,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,164.5,164.50,NaN,NaN
3735,5986,Velammal College of Engineering and Technology...,SC,Computer Science and Engineering (Cyber Security),NaN,NaN,NaN,154.0,154.00,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,172.5,172.50,NaN,NaN
3736,5988,"Theni Kammavar Sangam College of Technology, T...",AM,COMPUTER SCIENCE AND ENGINEERING (AI AND MACHI...,NaN,NaN,NaN,NaN,0.00,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.00,NaN,NaN

In [ ]:
avg_cutoff_df.columns

Index(['College Code', 'CollegeName', 'Course Code', 'Course Name',
       'Cutoffs.MBC.2021', 'Cutoffs.MBC.2022', 'Cutoffs.MBC.2023',
       'Cutoffs.MBC.2024', 'MBC Average', 'Cutoffs.BC.2021', 'Cutoffs.BC.2022',
       'Cutoffs.BC.2023', 'Cutoffs.BC.2024', 'BC Average', 'Cutoffs.OC.2021',
       'Cutoffs.OC.2022', 'Cutoffs.OC.2023', 'Cutoffs.OC.2024', 'OC Average',
       'Cutoffs.SC.2021', 'Cutoffs.SC.2022', 'Cutoffs.SC.2023',
       'Cutoffs.SC.2024', 'SC Average', 'Cutoffs.SCA.2021', 'Cutoffs.SCA.2022',
       'Cutoffs.SCA.2023', 'Cutoffs.SCA.2024', 'SCA Average',
       'Cutoffs.ST.2021', 'Cutoffs.ST.2022', 'Cutoffs.ST.2023',
       'Cutoffs.ST.2024', 'ST Average', 'Cutoffs.BCM.2021', 'Cutoffs.BCM.2022',
       'Cutoffs.BCM.2023', 'Cutoffs.BCM.2024', 'BCM Average',
       'Cutoffs.MBCDNC.2021', 'Cutoffs.MBCV.2021'],
      dtype='object')

In [ ]:
# drop all columns in avg_cutoff_df except ['College Code', 'CollegeName', 'Course Code', 'Course Name', 'OC Average']
avg_cutoff_df = avg_cutoff_df[['College Code', 'CollegeName', 'Course Code', 'Course Name', 'OC Average']]
avg_cutoff_df

,College Code,CollegeName,Course Code,Course Name,OC Average
0,1,"University Departments of Anna University, Che...",BY,BIO MEDICAL ENGINEERING (SS),195.25
1,1,"University Departments of Anna University, Che...",CE,CIVIL ENGINEERING,193.75
2,1,"University Departments of Anna University, Che...",CM,COMPUTER SCIENCE AND ENGINEERING (SS),199.13
3,1,"University Departments of Anna University, Che...",CS,COMPUTER SCIENCE AND ENGINEERING,199.75
4,1,"University Departments of Anna University, Che...",EC,ELECTRONICS AND COMMUNICATION ENGINEERING,199.25
...,...,...,...,...,...
3732,5930,"SBM College of Engineering and Technology, Tha...",BM,BIO MEDICAL ENGINEERING,0.00
3733,5930,"SBM College of Engineering and Technology, Tha...",IT,INFORMATION TECHNOLOGY,109.50
3734,5986,Velammal College of Engineering and Technology...,EV,Electronics Engineering (VLSI Design and Techn...,170.50
3735,5986,Velammal College of Engineering and Technology...,SC,Computer Science and Engineering (Cyber Security),176.50
3736,5988,"Theni Kammavar Sangam College of Technology, T...",AM,COMPUTER SCIENCE AND ENGINEERING (AI AND MACHI...,107.00

In [ ]:
avg_OC_CS_cutoff_df = avg_cutoff_df[(avg_cutoff_df['Course Code'] == 'AM') & (avg_cutoff_df['OC Average'] != 0)].sort_values(by=['OC Average'], ascending=False)
avg_OC_CS_cutoff_df

,College Code,CollegeName,Course Code,Course Name,OC Average
2902,1399,"Chennai Institute of Technology, Puduper Villa...",AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,191.50
2921,1432,"Rajalakshmi Institute of Technology, Irulapala...",AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,186.50
3052,2764,K P R Institute of Engineering and Technology ...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,183.67
3032,2722,Sri Krishna College of Technology (Autonomous)...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,183.17
3040,2739,Sri Eshwar College of Engineering (Autonomous)...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,182.83
...,...,...,...,...,...
3414,3860,St. Anne's College of Engineering and Technolo...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,95.50
3268,1518,Thiruvalluvar College of Engineering and Techn...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,94.75
3610,2705,"CSI College of Engineering, Ketti, The Nilgiri...",AM,COMPUTER SCIENCE AND ENGINEERING (AI AND MACHI...,93.50
3317,2646,Tagore Institute of Engineering and Technology...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,93.00
3399,3845,"Imayam College of Engineering, Kannanur, Thura...",AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,92.50

In [ ]:
avg_OC_CS_cutoff_df

,College Code,CollegeName,Course Code,Course Name,OC Average
2902,1399,"Chennai Institute of Technology, Puduper Villa...",AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,191.50
2921,1432,"Rajalakshmi Institute of Technology, Irulapala...",AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,186.50
3052,2764,K P R Institute of Engineering and Technology ...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,183.67
3032,2722,Sri Krishna College of Technology (Autonomous)...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,183.17
3040,2739,Sri Eshwar College of Engineering (Autonomous)...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,182.83
...,...,...,...,...,...
3414,3860,St. Anne's College of Engineering and Technolo...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,95.50
3268,1518,Thiruvalluvar College of Engineering and Techn...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,94.75
3610,2705,"CSI College of Engineering, Ketti, The Nilgiri...",AM,COMPUTER SCIENCE AND ENGINEERING (AI AND MACHI...,93.50
3317,2646,Tagore Institute of Engineering and Technology...,AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,93.00
3399,3845,"Imayam College of Engineering, Kannanur, Thura...",AM,COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL I...,92.50

In [ ]:
# sort COLLEGE CODE in seat_matrix_2025_CS based on the order of College Code in avg_OC_CS_cutoff_df
seat_matrix_2025_CS['COLLEGE CODE'] = seat_matrix_2025_CS['COLLEGE CODE'].astype(str).str.strip()
avg_OC_CS_cutoff_df['College Code'] = avg_OC_CS_cutoff_df['College Code'].astype(str).str.strip()

seat_matrix_2025_CS_sorted = seat_matrix_2025_CS.set_index('COLLEGE CODE').reindex(avg_OC_CS_cutoff_df['College Code']).reset_index()

In [ ]:
seat_matrix_2025_CS_sorted

,College Code,COLLEGE NAME,BRANCH CODE,BRANCH NAME,OC,BC,BCM,MBC,SC,SCA,ST,TOTAL
0,1399,Chennai Institute of Technology (Autonomous)\n...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,17,14,1,12,9,1,0,54
1,1432,Rajalakshmi Institute of Technology (Autonomou...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,16,15,2,11,8,1,1,54
2,2764,KPR Institute of Engineering and Technology\n(...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,21,18,3,14,11,2,1,70
3,2722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2739,Sri Eshwar College of Engineering (Autonomous)...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,21,18,3,14,11,2,1,70
...,...,...,...,...,...,...,...,...,...,...,...,...
88,3860,St.Anne's College of Engineering and Technolog...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,17,14,2,10,8,2,1,54
89,1518,Thiruvalluvar College of Engineering and Techn...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,9,8,0,5,4,1,0,27
90,2705,"CSI College of Engineering, Ketti Valley, The ...",AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,14,12,2,9,6,1,1,45
91,2646,Tagore Institute of Engineering and Technology...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,8,6,1,5,5,1,0,26
92,3845,"Imayam College of Engineering, Kannanur Post,\...",AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,7,7,1,5,3,1,0,24

In [ ]:
# Step 1: List of category columns
category_columns = ['OC', 'BC', 'BCM', 'MBC', 'SC', 'SCA', 'ST', 'TOTAL']

# Step 2: Convert relevant columns to numeric (in case of PDF parsing artifacts)
seat_matrix_2025_CS_sorted[category_columns] = seat_matrix_2025_CS_sorted[category_columns].apply(
    pd.to_numeric, errors='coerce'
).fillna(0)

# Step 3: Create a new DataFrame with cumulative sums
seat_matrix_2025_CS_cumsum = seat_matrix_2025_CS_sorted.copy()
seat_matrix_2025_CS_cumsum[category_columns] = seat_matrix_2025_CS_sorted[category_columns].cumsum()

# Step 4: Compare final cumulative row with the true sums of the original
cumsum_last_row = seat_matrix_2025_CS_cumsum[category_columns].iloc[-1]
original_sums = seat_matrix_2025_CS_sorted[category_columns].sum()

# Step 5: Show comparison
comparison = pd.DataFrame({
    'Original Sum': original_sums,
    'Cumulative Final Row': cumsum_last_row,
    'Match': original_sums == cumsum_last_row
})

print(comparison)

       Original Sum  Cumulative Final Row  Match
OC           1107.0                1107.0   True
BC            941.0                 941.0   True
BCM           129.0                 129.0   True
MBC           711.0                 711.0   True
SC            538.0                 538.0   True
SCA           110.0                 110.0   True
ST             37.0                  37.0   True
TOTAL        3573.0                3573.0   True

In [ ]:
seat_matrix_2025_CS_cumsum

,College Code,COLLEGE NAME,BRANCH CODE,BRANCH NAME,OC,BC,BCM,MBC,SC,SCA,ST,TOTAL
0,1399,Chennai Institute of Technology (Autonomous)\n...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,17.0,14.0,1.0,12.0,9.0,1.0,0.0,54.0
1,1432,Rajalakshmi Institute of Technology (Autonomou...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,33.0,29.0,3.0,23.0,17.0,2.0,1.0,108.0
2,2764,KPR Institute of Engineering and Technology\n(...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,54.0,47.0,6.0,37.0,28.0,4.0,2.0,178.0
3,2722,NaN,NaN,NaN,54.0,47.0,6.0,37.0,28.0,4.0,2.0,178.0
4,2739,Sri Eshwar College of Engineering (Autonomous)...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,75.0,65.0,9.0,51.0,39.0,6.0,3.0,248.0
...,...,...,...,...,...,...,...,...,...,...,...,...
88,3860,St.Anne's College of Engineering and Technolog...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,1069.0,908.0,125.0,687.0,520.0,106.0,36.0,3451.0
89,1518,Thiruvalluvar College of Engineering and Techn...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,1078.0,916.0,125.0,692.0,524.0,107.0,36.0,3478.0
90,2705,"CSI College of Engineering, Ketti Valley, The ...",AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,1092.0,928.0,127.0,701.0,530.0,108.0,37.0,3523.0
91,2646,Tagore Institute of Engineering and Technology...,AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,1100.0,934.0,128.0,706.0,535.0,109.0,37.0,3549.0
92,3845,"Imayam College of Engineering, Kannanur Post,\...",AM,COMPUTER SCIENCE AND\nENGINEERING (AI AND\nMAC...,1107.0,941.0,129.0,711.0,538.0,110.0,37.0,3573.0

In [ ]:
# save seat_matrix_2025_CS_cumsum as excel
seat_matrix_2025_CS_cumsum.to_excel('/content/drive/MyDrive/TNEA Seat Matrix 2025/Cum Sum/seat_matrix_2025_AM_cumsum.xlsx', index=False)

In [ ]:
unique_course_codes = pdf_dataframes[1]['BRANCH CODE'].unique()
print(unique_course_codes)

['BY' 'CE' 'CM' 'CS' 'EC' 'EE' 'EL' 'EM' 'GI' 'IE' 'IM' 'MA' 'ME' 'MI'
 'MN' 'PT' 'XC' 'XM' 'AP' 'CH' 'CL' 'CR' 'FS' 'IB' 'IS' 'LE' 'PM' 'PP'
 'TX' 'BP' 'AE' 'AT' 'AU' 'EI' 'PR' 'RA' 'RP' 'RM' 'AM' 'IT' 'SC' 'MT'
 'CF' 'MZ' 'AS' 'BS' 'CG' 'CN' 'EY' 'FY' 'IY' 'MF' 'MS' 'MY' 'PN' 'TT'
 'CW' 'ID' 'MG' 'EF' 'AD' 'EV' 'BT' 'PC' 'PH' 'CK' 'MJ' 'MB' 'EX' 'AL'
 'CZ' 'MM' 'PA' 'HT' 'CC' 'CB' 'CO' 'MD' 'MU' 'MR' 'AG' 'BM' 'FD' 'CJ'
 'CD' 'EA' 'CI' 'FT' 'CA' 'RI' '-\nAD' '-\nCB' '-\nCS' '-\nEC' '-\nEE'
 '-\nIT' '-\nME' '-\nSC' 'XS' 'IC' 'CY' 'SF' 'PE' 'TC' 'AO' 'MO' 'SB' 'TS'
 'EN' 'BC' 'DA' 'CX' 'AD\n-' 'BM\n-' 'CS\n-' 'EC\n-' 'EE\n-' 'IT\n-'
 'ME\n-' 'IN' 'ER' '-\nAG' '-\nBM' '-\nBT' '-\nFD' '-\nPH']

In [ ]:
def get_branch_seat_cumsum(course_code, branch_code, avg_cutoff_df, seat_matrix_df):
    """
    For a given course_code and branch_code:
    - Filters both DataFrames
    - Sorts the seat matrix by cutoff rank
    - Computes cumulative seat matrix
    - Verifies totals
    Returns:
        sorted_df: Sorted seat matrix DataFrame
        cumsum_df: Cumulative seat matrix DataFrame
        comparison_df: Check if final row of cumsum matches sum of original
    """

    # Filter by course and branch
    cutoff_df = avg_cutoff_df[
        (avg_cutoff_df['Course Code'] == course_code) & (avg_cutoff_df['OC Average'] != 0)
    ].copy()

    seat_df = seat_matrix_df[
        seat_matrix_df['BRANCH CODE'] == branch_code
    ].copy()

    # Normalize College Code columns
    cutoff_df['COLLEGE CODE'] = cutoff_df['College Code'].astype(str).str.strip()
    seat_df['COLLEGE CODE'] = seat_df['COLLEGE CODE'].astype(str).str.strip()

    # Sort seat_df by order of college codes in cutoff_df
    seat_df_sorted = seat_df.set_index('COLLEGE CODE').reindex(cutoff_df['COLLEGE CODE']).reset_index()

    # Columns to apply cumsum on
    category_columns = ['OC', 'BC', 'BCM', 'MBC', 'SC', 'SCA', 'ST', 'TOTAL']

    # Ensure numeric types
    seat_df_sorted[category_columns] = seat_df_sorted[category_columns].apply(
        pd.to_numeric, errors='coerce'
    ).fillna(0)

    # Create cumulative sum DataFrame
    seat_df_cumsum = seat_df_sorted.copy()
    seat_df_cumsum[category_columns] = seat_df_sorted[category_columns].cumsum()

    # Compare last row of cumsum with original sums
    cumsum_last_row = seat_df_cumsum[category_columns].iloc[-1]
    original_sums = seat_df_sorted[category_columns].sum()

    comparison_df = pd.DataFrame({
        'Original Sum': original_sums,
        'Cumulative Final Row': cumsum_last_row,
        'Match': original_sums == cumsum_last_row
    })

    return seat_df_sorted, seat_df_cumsum, comparison_df

In [ ]:
sorted_df, cumsum_df, comparison = get_branch_seat_cumsum(
    course_code='CS',
    branch_code='CS',
    avg_cutoff_df=avg_cutoff_df,
    seat_matrix_df=pdf_dataframes[1]
)

print(comparison)
display(cumsum_df)

       Original Sum  Cumulative Final Row  Match
OC          10111.0               10111.0   True
BC           8651.0                8651.0   True
BCM          1130.0                1130.0   True
MBC          6525.0                6525.0   True
SC           4892.0                4892.0   True
SCA           977.0                 977.0   True
ST            320.0                 320.0   True
TOTAL       32606.0               32606.0   True

,COLLEGE CODE,COLLEGE NAME,BRANCH CODE,BRANCH NAME,OC,BC,BCM,MBC,SC,SCA,ST,TOTAL
0,1,University Departments of Anna University Chen...,CS,COMPUTER SCIENCE AND\nENGINEERING,19.0,17.0,2.0,13.0,9.0,2.0,1.0,63.0
1,4,University Departments of Anna University Chen...,CS,COMPUTER SCIENCE AND\nENGINEERING,39.0,34.0,4.0,25.0,19.0,4.0,2.0,127.0
2,5,Annamalai University Faculty of Engineering an...,CS,COMPUTER SCIENCE AND\nENGINEERING,72.0,62.0,8.0,47.0,36.0,8.0,2.0,235.0
3,1013,University College of Engineering Villupuram\n...,CS,COMPUTER SCIENCE AND\nENGINEERING,89.0,77.0,10.0,57.0,44.0,10.0,3.0,290.0
4,1014,University College of Engineering Tindivanam\n...,CS,COMPUTER SCIENCE AND\nENGINEERING,106.0,92.0,12.0,68.0,52.0,11.0,4.0,345.0
...,...,...,...,...,...,...,...,...,...,...,...,...
399,1213,NaN,NaN,NaN,10066.0,8611.0,1125.0,6495.0,4868.0,973.0,318.0,32456.0
400,1428,"E.S.College of Engineering and Technology, Che...",CS,COMPUTER SCIENCE AND\nENGINEERING,10097.0,8639.0,1129.0,6516.0,4884.0,975.0,320.0,32560.0
401,1533,NaN,NaN,NaN,10097.0,8639.0,1129.0,6516.0,4884.0,975.0,320.0,32560.0
402,3845,"Imayam College of Engineering, Kannanur Post,\...",CS,COMPUTER SCIENCE AND\nENGINEERING,10111.0,8651.0,1130.0,6525.0,4892.0,977.0,320.0,32606.0
403,1398,NaN,NaN,NaN,10111.0,8651.0,1130.0,6525.0,4892.0,977.0,320.0,32606.0